[Unit]
Description=Spring Boot systemd service
After=network.target syslog.target

[Service]
User=spring-boot-systemd-service
#Environment=JAVA_TOOL_OPTIONS=
Environment=LOG_FILE=/tmp/spring-boot-systemd-service.log
ExecStart=/path/to/java -jar /path/to/spring-boot-systemd-service.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
